# Ignore everything
*
# Whitelist
!includes
!/includes/**
!/src
!/src/**
!/tests
!/tests/**
!/unittests
!/unittests/**
!Makefile
!CMakeLists.txt
!.gitignore
!recreat_script.sh
!/tests
!Elephant.jpg
!family-guy.mp4
!frog.jpg
!Galaxy-Wallpaper-Desktop.jpg
!test.rtf
!video.mp4
!körner.jpg
